bottle-websocket
contextlib2
SpeechRecognition
gunicorn
Cython
gevent-websocket
Flask
Flask-SocketIO
Flask-Sockets
Jinja2
eyed3
numpy
simplejson
librosa
lomond
module
hmmlearn
ffmpeg
tqdm
numba
SoundFile
matplotlib
eventlet
pydub
pandas
Pillow
requests
requests-oauthlib
requests-toolbelt
scikit-learn
scipy
seaborn
snowballstemmer
socketIO-client
vaderSentiment
validators
virtualenv
webencodings
websocket-client
websockets
webrtcvad
Werkzeug
wget
